/ProjectPRJ/nbproject/private/
/ProjectPRJ/build/
/ProjectPRJ/dist/
/lab6/nbproject/private/
/lab6/build/
/lab6/dist/
/2_Summer_2019_done/nbproject/private/
/2_Summer_2019_done/build/
/2_Summer_2019_done/dist/
/WebApplication1/nbproject/private/
/Summer_2019/nbproject/private/