.main-nav{
    float: right;
    list-style: none;
    margin-right: 50px;
    margin-top: 7px;
    
  }
  .main-nav li{
    display: inline-block;
    margin-right: 30px;
  }
  
  .main-nav li a{
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: 600;
    transition: border-bottom 0.s;
    padding: 3px 0;
  }
.main-nav li a:hover,
.main-nav li a:active{
  border-bottom: 2px solid #cccccc;
}
.row{
    width: 1140px;
    margin: 0 auto;
  }

.thittrau-tule{
    width: 90%;
    border-bottom: 50px;
    margin-bottom: 30px;
    
    
}
.lapxuong-banhtrung{
    width: 90%;
    border-bottom: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.matong-mangsat{
    width: 90%;
    border-bottom: 50px;
    margin-top: 30px;
    padding-bottom: 50px;
}

.logo{
    width: 35%;
    border-radius: 50px;
}
.header-color{
    background-color:#313031!important;

}

.menu{
    background-color: #313031;
    padding-top: 50px;
    
}
.carousel-item img{
    width: 100% !important;
    height: 800px !important;
}
.col-3 p2{
    color: #ffffff;
}

.header-fontsize li a{
    color: #ffffff;
}
.dacsan1 div img{
    width: 300px;
    height: 200px;
}
.dacsan2 div img{
    width: 300px;
    height: 200px;
}
.dacsan3 div img{
    width: 300px;
    height: 200px;
}
.col-3 p1{
    color:rgb(239, 247, 9);
    margin-left: 70px;
}
.footer{
    width: 100%;
    background-color: gray;
    border-top: 2px solid gold;
    padding-top: 20px;
}
.footer ul li{
    font-size: 15px;
    color: #ffffff;

}



.footer-logo img{
    width: 30px;
}